.pokemonCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  padding: 20px;
  transition: transform 0.2s;
}

.pokemonCard:hover {
  transform: scale(1.05);
}

.pokemonCard img {
  width: 150px;
  height: 150px;
}
